[submodule "cs-magic-frontend"]
	path = cs-magic-frontend
	url = https://github.com/cs-magic/cs-magic-frontend
[submodule "cs-magic-backend"]
	path = cs-magic-backend
	url = https://github.com/cs-magic/cs-magic-backend
